In [1]:
#Plotting
%matplotlib inline
from matplotlib import style
style.use("fivethirtyeight")
import matplotlib.pyplot as plt

In [2]:
#Data manipulation
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
#Python SQL Toolkit and ORM
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
#Create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [5]:
#New base class
Base = automap_base()

#Reflect the tables from the hawaii.sqlite database
Base.prepare(engine)

In [6]:
#View classes found by automap
Base.classes.keys()

['measurement', 'station']

In [7]:
#Class references
Measurement = Base.classes.measurement
Station = Base.classes.station

In [8]:
#Link Python to the database by creating a SQLAlchemy session
session = Session(engine)

# Exploratory Precipitation Analysis

In [9]:
#Preview the first row of the measurement table
first_row = session.query(Measurement).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1cb195021a0>,
 'prcp': 0.08,
 'id': 1,
 'station': 'USC00519397',
 'tobs': 65.0,
 'date': '2010-01-01'}

In [10]:
#Find the most recent date in the dataset
date_query = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
date_query

('2017-08-23',)

In [11]:
# Convert the most recent date to a datetime object.
for date in date_query:
    latest_date = pd.to_datetime(date)

In [12]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.
date_one_year_ago = dt.date(latest_date.year-1,latest_date.month,latest_date.day)

# Perform a query to retrieve the data and precipitation scores
one_year = session.query(Measurement.date,Measurement.prcp).\
    filter(Measurement.date >= date_one_year_ago).all()

# Save the query results as a Pandas DataFrame. Explicitly set the column names
one_year_df = pd.DataFrame(one_year)